
/* Fonts */
h1.headline {
    font-family: Raleway;
    font-size: 50pt;
    color: #28386C;
    margin-bottom: 5px;
    font-weight: 700;
}

 h6.subtitle {
    font-family: Raleway;
    font-size: 25pt;
    font-weight: 500;
    color: #727289;
 }

h3.Gerry {
    font-family: 'Gerry', serif;
    font-size: 53pt;
    color: #D39F29;
    margin-top: 9px;
}

.text-center {
    text-align: center;
}


/* Containers */
* {margin:0; padding:0;}

.intro-image {
    /* background-image: url(images/district\ header.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    position: relative;
    
    display: flex;
}

.title-text {
    padding-top: 170px;
    padding-left: 60px;

    position:absolute;
}

.background-text {
    padding-top: 100px;
    /* padding-bottom: 50px; */

    margin-right: 250px;
    margin-left: 250px;

    font-size: 25px;
    line-height: 50px;
    font-family: Raleway;
    }

.background-text-half {
    padding-top: 35px;

    margin-left: 75px;

    font-size: 25px;
    line-height: 50px;
    font-family: Raleway;

}

img.background-AZ {
    text-align: left;

    display: block;
    margin: 0 auto;
    transition: 0.3s;

    padding-right: 100px;

    margin-top: 50px;
}
