
/* Fonts */
h1 {
    font-family: Raleway;
    font-size: 75pt;
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 1.05;
}

 h3 {
    font-family: Raleway;
    font-size: 35pt;
    margin-top: 1vh;
 }

h2.Gerry {
    font-family: 'Gerry', serif;
    font-size: 60pt;
    color: #D39F29;
    margin-top: 15px;
}


/* Containers */
* {margin:0; padding:0;}

header {
    background-image: linear-gradient(#28386C, white);    
    width: 100vw;
    height: 100vh;
    min-height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
}

/* add text wrapping */
#title {
    text-align: center;
    word-break: normal;
    color: white;
    padding-left: 25px;
    padding-right: 40px;
    padding-bottom: 20px;

    width: fit-content;
    height: fit-content;
    min-height: 500px;

    background: rgba(40, 56, 108, .8);

    float: right;
    position: absolute;
    right: 0%;
    top: 30vh;
    z-index: 1000;
}

/* #fffff2 off-white hex */
.introduction {
    height: 100vh;
}
