.row {
    margin-bottom: 50px;
    position: absolute;

    width: fit-content;
    height: fit-content;
}

/* Background */
#background {
    margin-bottom: 100px;
}

.background-text, .gerrymandering {
    padding-top: 30px;
    /* padding-bottom: 50px; */

    margin-right: 250px;
    margin-left: 250px;

    font-size: 25px;
    line-height: 50px;
    font-family: Raleway;
    font-weight:100;
}

p.subtitle {
    font-family: 'Gerry', serif;
    color:#8888ab;
    font-size: 27pt;

    padding-top: 10px;
}


/*  Districting */
.districting {
    display: flex;
}

.districting-text {
    flex: 3;

    font-size: 25px;
    font-family:Raleway;
    line-height: 50px;

    border: 1px solid #8888ab; 
    border-style: groove; 
        
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;

    /* line-height: 1.4; */
}

.districting-images {
    flex: 4;
    
    border: 1px solid #8888ab;
    border-style:groove; 
    
    margin-left: -1px;
    
    background-image: linear-gradient(#28386c, #8888ab, white);
}

.image-row {
    display: flex;
    padding: 0px;
}

.img {
    flex: 33.33%;
    padding: 5px;
}