.title {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.title-map {
    flex: 69;
}

#states-all-map {
    /* width:70vw;
    height:100vh; */
    width: 100%;
    height: 100%;

    margin-left: 3px;

}

.state {
    stroke: rgba(128, 128, 128);
    stroke-width: 1;
    fill: white;
}

.selectedstate {
    stroke:black;
    stroke-width:3;
    fill:#5b852a
}

.highlighted  {
    fill: #D39F29;
    stroke: black;
    stroke-width: 2;
}

.auto {
    fill:#5b852a;
    stroke: black;
    stroke-width: 2;
}


/* Text Styling */
.title-text {
    text-align: right;

    flex: 31;

    padding-right: 40px;

    z-index: 1;

}

h1.headline {
    font-family: Raleway;
    font-size: 47pt;
    font-weight: 600;
    color: #28386C;
    line-height: 1.1;
    
    padding-top: 200px;

    margin-bottom: 15px;
}

h3.Gerry {
    font-family: 'Gerry', serif;
    font-size: 29pt;
    color: #D39F29;

    
}

h6.subtitle {
    font-family: Raleway;
    font-size: 22pt;
    font-weight: 500;
    color: gray;

 }