.row {
    margin-bottom: 50px;
    position: absolute;

    width: fit-content;
    height: fit-content;
}


/* TITLE */
.title {
    display: flex;
    width: 100vw;
    height: 100vh;

    opacity : 1;
}

.title-map {
    flex: 69;
}

#states-all-map {
    /* width:70vw;
    height:100vh; */
    width: 100%;
    height: 100%;

    margin-left: 3px;

}

.state {
    stroke: rgba(128, 128, 128);
    stroke-width: 1;
    fill: white;
}

.selectedstate {
    stroke:black;
    stroke-width:3;
    fill:#5b852a
}

.highlighted  {
    fill: #D39F29;
    stroke: black;
    stroke-width: 2;
}

.auto {
    fill:#5b852a;
    stroke: black;
    stroke-width: 2;
}

.title-text {
    text-align: right;

    flex: 31;

    padding-right: 40px;

    z-index: 1;

}

h1.headline {
    font-family: Raleway;
    font-size: 47pt;
    font-weight: 600;
    color: #28386C;
    line-height: 1.1;
    
    padding-top: 200px;

    margin-bottom: 15px;
}

h3.Gerry {
    font-family: 'Gerry', serif;
    font-size: 29pt;
    color: #D39F29;
}

h6.subtitle {
    font-family: Raleway;
    font-size: 22pt;
    font-weight: 500;
    color: gray;

 }
 

/* BACKGROUND */
#background {
    position: relative;
}

article.background {
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    width: 67%;
}

.background-text {
    color: black;
    height: fit-content;
    opacity: .3;

    font-size: 30px;
    line-height: 50px;
    font-family: Raleway;
    font-weight:100;

    padding: 20px 10px;

    opacity: .3;
    text-align: left;
}

.background-text.is-active {
    color: black;
    opacity: 1;
    transition: .5s;
}

p.step {
    border-left: 10px solid;
    border-left-color:white;

    padding: 10px;
}

.bullet-point {
    border-left: 10px solid !important;
    border-left-color: #d3a029 !important;
}


/*  DISTRICTING */
#districting-1 {
    position: relative;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
}

#districting-1>* {
    /* -webkit-box-flex: 1;
    -ms-flex: 1; */
    flex: 1;

    margin-bottom: 40px;
}

article.districting {
    position: relative;
    max-width: 45%;
}

#maricopa {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 1px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;

    border: 1px solid #28386C;
    border-style:groove; 
}
.precinct {
    stroke: black;
    stroke-width: .5px;
    fill: #8888ab30;
}

.districting-text {
    color: black;
    /* opacity: .3; */

    font-size: 27px;
    font-family: Raleway;
    line-height: 1.8;

    text-align: left;

    margin-left: 10px;

    border-left: 10px solid;
    border-left-color: white;
}

.districting-text:last-child {
    margin-bottom: 0;
}

.districting-text.is-active {
    opacity: 1;
    transition: .5s;

    border-left: 10px solid !important;
    border-left-color: #d3a029 !important;
}

p.subtitle {
    color:#5b852a;
    text-align: right;

    padding-right: 40px;
}

#districting-2 {
    position: relative;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
}

#districting-2>* {
    /* -webkit-box-flex: 1;
    -ms-flex: 1; */
    flex: 1;

    margin-bottom: 40px;
}

#algorithm {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 1px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;

    border: 1px solid #28386C;
    border-style:groove; 
}

#districting-3 {
    position: relative;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
}

#districting-3>* {
    /* -webkit-box-flex: 1;
    -ms-flex: 1; */
    flex: 1;

    margin-bottom: 40px;
}

#political {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 1px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;

    border: 1px solid #28386C;
    border-style:groove; 
}
/*
.districting-images {
    flex: 4;
    
    border: 1px solid #8888ab;
    border-style:groove; 
    
    margin-left: -1px;
    
    background-image: linear-gradient(#28386c, #8888ab, white);
}

h4.subtitle {
    font-family: 'Gerry', serif;
    color: #8888ab;
}
 */

 /* METRICS */
 .description {
    font-family: Raleway;
    font-size: 20pt;

    padding-left: 40px;

    width: 50vw;
    
    flex: 2;
 }

 .graphs {
    flex: 3;
    height: 100vh;
 }

 .metric h2 {
    font-family: "Raleway";
    font-size: 50px;
    font-weight: 600;

    color: #28386C;

    padding: 10px;
    padding-bottom: 20px;

    text-align: center;
 }

.sticky-parent {
    height: 600vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.scroll-section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 600vw;
    will-change: transform;
    display: flex;
    /* spaces images out evently */
    /* justify-content: space-between; */
    /* centered vertically */
    align-items: center;
    /* padding: 0 5vw; */
}

.metric {
    width: 100vw;
    height: 100vh;
    border-top: 2px solid #28386C;
    border-left: 2px solid #28386C;
    border-bottom: 2px solid #28386C;
    padding: 10px;
}

.content {display: flex;}